{:prod true
 :port 3000
 :google-key "PUT YOUR GOOGLE KEY HERE"
 :root-user "root@rams.services"
 :root-pass "prod"
 :upload-path "./resources/public/uploaded/"
 :generated-path "./resources/generated/"
 :jwt-secret "behumen jwt secret"}
